main{
    height: 90vh;
    background-color: #ccc;
    display: flex;
}

.main-content{
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.list-container-main-content{
    width: 100%;
    overflow-y: scroll;
}

.filter-section{
    display: flex;
    align-items: center;
}
.filter-section select{
    width: 10em;
    margin-left: .5em;
    font-size: 1.3em;
    margin: 10px .5em;
    background-color: #333;
    color: #eee;
    border-radius: 5px;
    border: none;
    height: 2em;
}
.filter-section select:focus{
    outline: none;
}
.preview-section{
    height: 100%;
    flex: .4;
    background-color: #afafaf;
}
