.preview-section{
    display: none;
    flex-direction: column;
    position: relative;
}
.action-button-container{
    height: 4em;
    margin-top: auto;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.action-btn{
    font-size: 1.2em;
    padding: .3em 2em;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.action-btn#accept-btn{
    background-color: #2962FF;
}
.action-btn#reject-btn{
    background-color: #B71C1C;
}
.action-btn:focus{
    outline: none;
}
.action-btn:hover{
    background-color: rgb(255, 255, 255);
}
.request-id-container{
    height: 4em;
    background-color: grey;
    display: flex;
    align-items: center;
}
#request-id{
    color: white;
    font-size: 1.5em;
    margin-left: 1em;
}
.borrowed-book-list-container{
    height: 15em;
    overflow-y: scroll;
    
}

.info-container{
    display: flex;
    margin-left: 1em;
}

.book-item{
    height: 4em;
    background-color: rgb(210, 216, 255);
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: .5em;
    padding-top: .1em;
    padding-bottom: .1em;
}
.book-item p {
    display: inline;
    margin: 0 ;
}
.book-item #book-title{
    width: 20em;
    overflow: hidden;
    white-space: nowrap;
  text-overflow: ellipsis;
}




